@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/* Base Structure */

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.background {
  background-image: url("./img/ntcscClubPlaceholder.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; /* Placeholder. We'll decide if we want it scroll or fixed later. */
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Logo */

.masthead {
  margin-bottom: 2rem;
  position: relative;
}

/* @media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
} */

/* Navigation Bar */

.masthead-brand {
  margin-bottom: 0;
  position: absolute;
  left: 0;
}

.nav-masthead .nav-link {
  padding: 0.5rem 0;
  font-weight: bolder;
  font-size: large;
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #b40909;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cover-container {
  max-width: 42em;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.mainText {
  padding: 0 1.5rem;
}

.mainText .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.demo {
  height: 100px;
  width: 100px;
  background-color: green;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/* Helpful Breakpoints from Tutorial

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
